@font-face {
    font-family: 'focus';
    src: url('../public/fonts/focus.woff2') format('woff2'),
         url('../public/fonts/focus.ttf') format('ttf');
    unicode-range: U+4E00-9FFF;
}

body {
  margin: 0;
  font-family:'focus','Nunito','Robot',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
